<div>
  {{#each posts}}
  <div class="card card-body text-center mb-2">
    <p>{{username}}</p>
    <div class="photo">
      <a href="/uploads/{{image}}" data-lightbox="gallery"><img src="/uploads/{{image}}" class="img"></a>
    </div>
    <h4>{{title}}</h4>
    <p>{{details}}</p>
  </div>
  {{else}}
  <p>No pictures listed</p>
  {{/each}}
</div>