{{#if user}}
<div class="profile">
  <h1 class="text-center display-4">
    Welcome {{user.name}}!
  </h1>
</div>
{{/if}}
<div class="photogrid">
  {{#each posts}}
  <div>
    <a href="/uploads/{{image}}" data-lightbox="gallery"><img src="/uploads/{{image}}"></a>
    <h4>{{title}}</h4>
    <p>{{details}}</p>
    <div class="show">
      <a class="btn btn-dark btn-block mb-2" href="/posts/edit/{{id}}">Edit</a>
      <form method="post" action="/posts/{{id}}?_method=DELETE">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" class="btn btn-danger btn-block" value="Delete">
      </form>
    </div>
  </div>
  {{else}}
  <p>No pictures listed</p>
  {{/each}}
</div>
